{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  labels:
    {{- include "bugdrill-api.labels" . | nindent 4 }}
    app.kubernetes.io/component: cache
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    {{- include "bugdrill-api.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: cache
{{- end }}
